extends ../pug/layouts/page.pug
block frontmatter 
    - pageTitle = "Know me more?"
    - currentPage = 'about'

block title 
    title About • alvs

block main 
    main 
        //- p Need to be filled/edited. 
        //- h2 Pending Work in progress.
        h3 About me 
        p Hi, I am ...🤔
        p Professionally i am a frontend web-developer for time being. Big fan of Technology, Free Open source software
            small (free as in freedom, not price) 
            | , and loves Coco 🍫.
        //- p I maintain a 
        //-     a(href='/wall-of-appreciation.html') wall of appreciation - softwares edition
        //-     |  where i add softwares that i really like. Though most of the times they end up being open source softwares.
        p I am still in the stage of figuring out myself. Evolving big time. 

        h3 Some random facts about me. 
        ul 
            li I prefer Chai over Coffee ☕️. And hates green tea.
            li I could type at a speed of 60wpm. 
                small (i am aware its not that impressive.)
            li Team Android.
            li Fav colors: black, white, blue and gray.
            li Minimalist in nature
        
        //- p Here is a 
        //-     a(href='') picture of me 