- 
    projectsDb = [
        //- {
        //-     title : 'Samwyle',
        //-     description : 'A website for an imaginary coffee shop, yup it does not exist.',
        //-     id : 'samwyle',
        //- },
        {
            id : 'ryt',
            title : 'Youtube library clone',
            description: 'Get highly organizable youtube library [Work in progress]',
            tags: 'react typescript' 
        },
        {
            id : 'mde',
            title : 'Markdown editor',
            description : 'Lets practice writing markdown in this elegant markdown editor',
            tags: 'react javascript'
        },
        {
            id : 'tic-tac-toe',
            title : 'Tic Tac Toe',
            description : 'Simple tic tac toe game, lets be strong and not get addicted.',
            tags: 'javascript html css'
        },
        {
            id : 'todo',
            title : 'Todo',
            description : 'A simple todo app, lets make a list and forget forever.',
            tags: 'javascript html css'
        },
        {
            id : 'coffee-station',
            title : 'Coffee station',
            description : 'Yet another imaginary coffee shop gets a website.',
            tags: 'html css'
        }
    ]