extends ../../pug/layouts/project-page
block frontmatter 
    - projectId = 'coffee-station'

block title
    - projectTitle = 'Coffee station';
    title #{projectTitle} • Projects

block append technical 
    li Plain HTML and CSS is all i used for this project. 

block append facts 

block append attributions