extends ../../pug/layouts/project-page
block frontmatter 
    - projectId = 'samwyle'
block title
    - projectTitle = 'Samwyle';
    title #{projectTitle} • Projects

block append technical

    li Plain HTML and CSS is all i used for this project. 

block append facts

    li This is the very first project that i have built while learning CSS.
    li Took me around 5 days to complete. 
    
block append attributions 
    li The designs are grabbed from 
        a(href='https://www.figma.com/community/file/997834539634615226') Figma community 
        | designed by 
        a(href='https://www.figma.com/@rengen_ill') Illia Frunza
