extends ../../pug/layouts/project-page
block frontmatter 
    - projectId = 'tic-tac-toe'
    
block title
    - projectTitle = 'Tic Tac Toe';
    title #{projectTitle} • Projects

block append technical 
    li This app is built in plain HTML, CSS and JS.
    li Though the app seems like a Single Page Application, it isn't. The implementation is just switching between '.show' & '.hide' css classes for blocks of html. 

block append facts
    li Building this project made me realise the need to learn a javascript framework.
    li It took me a week to complete this project.
    li Learnt refactoring codebase, as my first implementation was a mess, a clear example of ugly code.
    li Realised building a game is more fun than building landing pages.

block append attributions 
    li The designs are from 
        a(href="https://www.frontendmentor.io/challenges/tic-tac-toe-game-Re7ZF_E2v") frontend mentor